<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/ugcqz6ohbvff804xp84y4kqnvvk3bq1g.png" width = 300, align = "center"></a>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:
1. Understand 3 Chicago datasets  
1. Load the 3 datasets into 3 tables in a Db2 database
1. Execute SQL queries to answer assignment questions

## Understand the datasets 
To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:
1. <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2">Socioeconomic Indicators in Chicago</a>
1. <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t">Chicago Public Schools</a>
1. <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago
This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

For this assignment you will use a snapshot of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/05c3415cbfbtfnr2fx4atenb2sd361ze.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2



### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

For this assignment you will use a snapshot of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/f9gjvj1gjmxxzycdhplzt01qtz0s7ew7.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t




### 3. Chicago Crime Data 

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days. 

This dataset is quite large - over 1.5GB in size with over 6.5 million rows. For the purposes of this assignment we will use a much smaller sample of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/svflyugsr9zbqy5bmowgswqemfpm1x7f.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2

### Download the datasets
In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):
1. __CENSUS_DATA:__ https://ibm.box.com/shared/static/05c3415cbfbtfnr2fx4atenb2sd361ze.csv
1. __CHICAGO_PUBLIC_SCHOOLS__  https://ibm.box.com/shared/static/f9gjvj1gjmxxzycdhplzt01qtz0s7ew7.csv
1. __CHICAGO_CRIME_DATA:__ https://ibm.box.com/shared/static/svflyugsr9zbqy5bmowgswqemfpm1x7f.csv

__NOTE:__ Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables
To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in Week 3 Lab 3, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, __it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II__. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next". 

<img src = "https://ibm.box.com/shared/static/uc4xjh1uxcc78ks1i18v668simioz4es.jpg">

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the first dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new tables as folows:
1. __CENSUS_DATA__
1. __CHICAGO_PUBLIC_SCHOOLS__
1. __CHICAGO_CRIME_DATA__

### Connect to the database 
Let us first load the SQL extension and establish a connection with the database

In [1]:
%load_ext sql

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance in first lab in Week 3. From the __uri__ field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://ibm.box.com/shared/static/hzhkvdyinpupm2wfx49lkr71q9swbpec.jpg">

In [2]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://jsm88493:0szr2d400%2B3zs4rk@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB

'Connected: jsm88493@BLUDB'

## Problems
Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table

In [3]:
# Rows in Crime table
%sql select count(DISTINCT ID) as total_crimes from CHICAGO_CRIME_DATA

 * ibm_db_sa://jsm88493:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

### Problem 2

##### Retrieve first 10 rows from the CRIME table

In [4]:
%sql select * from CHICAGO_CRIME_DATA limit 10

 * ibm_db_sa://jsm88493:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('10003235', 'HY192694', datetime.datetime(2015, 3, 21, 3, 41), '064XX S OAKLEY AVE', '486', 'BATTERY                                           ', 'DOMESTIC BATTERY SIMPLE', 'APARTMENT', 'FALSE', 'FALSE', '825', '8 ', '15', '66', '08B', '1162182', '1861826', '2015', datetime.datetime(2018, 2, 10, 15, 50, 1), Decimal('41.77651055'), Decimal('-87.68100012'), '(41.776510546, -87.681000121)'),
 ('10012707', 'HY202462', datetime.datetime(2015, 3, 28, 18, 0), '056XX W BYRON ST', '810', 'THEFT                                             ', 'OVER $500', 'STREET', 'FALSE', 'FALSE', '1633', '16', '38', '15', '6  ', '1138080', '1925360', '2015', datetime.datetime(2018, 2, 10, 15, 50, 1), Decimal('41.95132446'), Decimal('-87.76782401'), '(41.95132446, -87.767824012)'),
 ('10015483', 'HY204891', datetime.datetime(2015, 3, 31, 11, 55), '011XX N PULASKI RD', '4625', 'OTHER OFFENSE                                     ', 'PAROLE VIOLATION', 'SIDEWALK', 'TRUE ', 'FALSE', '1112', '11', '27', '23', '26 ', '1149510', '1907365', '2015', datetime.datetime(2018, 2, 10, 15, 50, 1), Decimal('41.90172993'), Decimal('-87.72627560'), '(41.901729932, -87.726275604)'),
 ('10025545', 'HY215032', datetime.datetime(2015, 4, 8, 19, 30), '039XX W LEXINGTON ST', '2014', 'NARCOTICS                                         ', 'MANU/DELIVER: HEROIN (WHITE)', 'SIDEWALK', 'TRUE ', 'FALSE', '1132', '11', '24', '26', '18 ', '1150205', '1896407', '2015', datetime.datetime(2018, 2, 10, 15, 50, 1), Decimal('41.87164648'), Decimal('-87.72400857'), '(41.871646482, -87.724008569)'),
 ('10046030', 'HY234744', datetime.datetime(2015, 4, 24, 19, 55), '008XX N MICHIGAN AVE', '860', 'THEFT                                             ', 'RETAIL THEFT', 'DEPARTMENT STORE', 'TRUE ', 'FALSE', '1833', '18', '42', '8 ', '6  ', '1177338', '1906213', '2015', datetime.datetime(2018, 2, 10, 15, 50, 1), Decimal('41.89798294'), Decimal('-87.62409563'), '(41.897982937, -87.624095634)'),
 ('10070513', 'HY259084', datetime.datetime(2015, 5, 13, 18, 20), '056XX S WOOD ST', '3710', 'INTERFERENCE WITH PUBLIC OFFICER                  ', 'RESIST/OBSTRUCT/DISARM OFFICER', 'STREET', 'FALSE', 'FALSE', '715', '7 ', '15', '67', '24 ', '1165309', '1867385', '2015', datetime.datetime(2018, 2, 10, 15, 50, 1), Decimal('41.79169949'), Decimal('-87.66937930'), '(41.791699487, -87.669379304)'),
 ('10079280', 'HY267896', datetime.datetime(2015, 5, 20, 12, 35), '115XX S STEWART AVE', '1320', 'CRIMINAL DAMAGE                                   ', 'TO VEHICLE', 'RESIDENTIAL YARD (FRONT/BACK)', 'FALSE', 'TRUE ', '522', '5 ', '34', '53', '14 ', '1175695', '1828405', '2015', datetime.datetime(2015, 8, 17, 15, 3, 40), Decimal('41.68450696'), Decimal('-87.63245993'), '(41.684506962, -87.632459932)'),
 ('10084732', 'HY273740', datetime.datetime(2015, 5, 24, 21, 45), '004XX N STATE ST', '820', 'THEFT                                             ', '$500 AND UNDER', 'BAR OR TAVERN', 'FALSE', 'FALSE', '1831', '18', '42', '8 ', '6  ', '1176302', '1903096', '2015', datetime.datetime(2018, 2, 10, 15, 50, 1), Decimal('41.88945317'), Decimal('-87.62799483'), '(41.889453169, -87.627994833)'),
 ('10102551', 'HY291329', datetime.datetime(2015, 6, 6, 16, 42), '028XX W DEVON AVE', '860', 'THEFT                                             ', 'RETAIL THEFT', 'DRUG STORE', 'FALSE', 'FALSE', '2413', '24', '50', '2 ', '6  ', '1156278', '1942331', '2015', datetime.datetime(2018, 2, 10, 15, 50, 1), Decimal('41.99754480'), Decimal('-87.70046744'), '(41.997544797, -87.700467444)'),
 ('10177662', 'HY365876', datetime.datetime(2015, 8, 2, 10, 47), '041XX W 87TH ST', '1811', 'NARCOTICS                                         ', 'POSS: CANNABIS 30GMS OR LESS', 'STREET', 'TRUE ', 'FALSE', '834', '8 ', '18', '70', '18 ', '1150504', '1846544', '2015', datetime.datetime(2018, 2, 10, 15, 50, 1), Decimal('41.73480925'), Decimal('-87.72420818'), '(41.734809253, -87.724208178)')]

### Problem 3

##### How many crimes involve an arrest?

In [17]:
%sql select count(*) as total_arrest from CHICAGO_CRIME_DATA where arrest = TRUE

 * ibm_db_sa://jsm88493:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('163'),)]

### Problem 4

##### Which unique types of crimes have been recorded at GAS STATION locations?

In [6]:
%sql select DISTINCT PRIMARY_TYPE from CHICAGO_CRIME_DATA where LOCATION_DESCRIPTION = 'GAS STATION'

 * ibm_db_sa://jsm88493:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('CRIMINAL TRESPASS                                 ',),
 ('NARCOTICS                                         ',),
 ('ROBBERY                                           ',),
 ('THEFT                                             ',)]

Hint: Which column lists types of crimes e.g. THEFT?

### Problem 5

##### In the CENUS_DATA table list all Community Areas whose names start with the letter ‘B’.

In [7]:
%sql select COMMUNITY_AREA_NAME from CENSUS_DATA where COMMUNITY_AREA_NAME like 'B%'

 * ibm_db_sa://jsm88493:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('Belmont Cragin',),
 ('Burnside',),
 ('Brighton Park',),
 ('Bridgeport',),
 ('Beverly',)]

### Problem 6

##### Which schools in Community Areas 10 to 15 are healthy school certified?

In [8]:
%sql select NAME_OF_SCHOOL from CHICAGO_PUBLIC_SCHOOLS \
where COMMUNITY_AREA_NUMBER BETWEEN 10 and 15 AND HEALTHY_SCHOOL_CERTIFIED = 'Yes'

 * ibm_db_sa://jsm88493:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('Rufus M Hitch Elementary School',)]

### Problem 7

##### What is the average school Safety Score?

In [9]:
%sql select avg(SAFETY_SCORE) as Avg_Safety_Score from CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://jsm88493:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('49.50487329434697855750487329434698',)]

### Problem 8

##### List the top 5 Community Areas by average College Enrollment [number of students]

In [10]:
%sql select COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME, Avg(COLLEGE_ENROLLMENT) as Avg_College_Enrollment from \
CHICAGO_PUBLIC_SCHOOLS group by COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME order by Avg_College_Enrollment desc limit 5

 * ibm_db_sa://jsm88493:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('57  ', 'ARCHER HEIGHTS', '2411.5'),
 ('18  ', 'MONTCLARE', '1317'),
 ('62  ', 'WEST ELSDON', '1233.333333333333333333333333333333'),
 ('58  ', 'BRIGHTON PARK', '1205.875'),
 ('19  ', 'BELMONT CRAGIN', '1198.833333333333333333333333333333')]

### Problem 9

##### Use a sub-query to determine which Community Area has the least value for school Safety Score?

In [11]:
%sql select COMMUNITY_AREA_NUMBER as Community_number, COMMUNITY_AREA_NAME as Community_name from CHICAGO_PUBLIC_SCHOOLS \
where SAFETY_SCORE = (select min(SAFETY_SCORE) from CHICAGO_PUBLIC_SCHOOLS)

 * ibm_db_sa://jsm88493:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('40  ', 'WASHINGTON PARK')]

### Problem 10

##### [Without using an explicit JOIN operator] Find the Per Capita Income of the Community Area which has a school Safety Score of 1.

In [15]:
%sql select CD.COMMUNITY_AREA_NAME, CD.PER_CAPITA_INCOME from CENSUS_DATA CD, CHICAGO_PUBLIC_SCHOOLS CPS \
where CD.COMMUNITY_AREA_NUMBER = CPS.COMMUNITY_AREA_NUMBER and CPS.SAFETY_SCORE = 1;

 * ibm_db_sa://jsm88493:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('Washington Park', '13785')]

In [16]:
%sql select COMMUNITY_AREA_NAME, per_capita_income from CENSUS_DATA \
    where community_area_number = (select community_area_number from CHICAGO_PUBLIC_SCHOOLS where safety_score = 1)

 * ibm_db_sa://jsm88493:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('Washington Park', '13785')]

Copyright &copy; 2018 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).